# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\haako\OneDrive - NTNU\Programmering\INTELLIJ IDEA\Skolerelatert\MappePrøve1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
